<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Hotwire Project" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="fixed top-0 left-0 w-full p-4 bg-gray-900 text-white flex justify-between">
      <div>
        <%= link_to "Home", root_path, class: "text-lg font-bold px-3" %>
      </div>

      <div>
        <% if user_signed_in? %>
          <span class="px-3">Welcome, <%= current_user.email %>!</span>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "px-3 text-red-400" %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "px-3" %> |
          <%= link_to "Login", new_user_session_path, class: "px-3" %>
        <% end %>
      </div>
    </nav>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= turbo_stream_from "flash" %>
      <%= turbo_stream.prepend "flash", partial: "shared/flash" %>
      <%= render "shared/flash" %>

      <%= yield %>
    </main>
  </body>
</html>
